<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobdeve.s18.recordnest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RecordNest">
        <activity android:name=".AddToCollectionActivity"></activity>
        <activity android:name=".model.AddToCollection" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/noAnimTheme" />
        <activity
            android:name=".CollectionActivity"
            android:theme="@style/noAnimTheme" />
        <activity
            android:name=".AlbumProfileActivity"
            android:theme="@style/noAnimTheme" />
        <activity
            android:name=".SubmitAlbumActivity"
            android:theme="@style/noAnimTheme" />
        <activity
            android:name=".SearchUserActivity"
            android:theme="@style/noAnimTheme" />
        <activity
            android:name=".SearchGenreActivity"
            android:theme="@style/noAnimTheme" />
        <activity
            android:name=".UserProfileActivity"
            android:theme="@style/noAnimTheme" />
        <activity
            android:name=".EditProfileActivity"
            android:theme="@style/noAnimTheme" />
        <activity
            android:name=".SearchByActivity"
            android:theme="@style/noAnimTheme" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>